<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="/fragments/styling :: head-style"></div>
    <title>Create a New Blog</title>    
</head>
<body>
    <div class="container">
        <div th:replace="fragments/navbar :: navbar" ></div>
        <h1>Edit Your Blog</h1>

        <form action="#" th:action="@{/blogposts/update/{id}(id=${blogPost.id})}" th:object="${blogPost}" method="post">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Blog Title..." th:field="*{title}" />                
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Your Name Here..." th:field="*{author}" />                
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Blog Entry" th:field="*{blogEntry}" />                
            </div>
            <button class="btn btn-primary">Submit Your Changes</button>
        </form>
    </div>
    <div th:replace="/fragments/styling :: body-links"></div>        
</body>
</html>