<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:fragment="head-style">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  
        <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/css/standard.css}" rel="stylesheet">  
    </div>
</head>
<body>
    <div th:fragment="body-links">
        <script th:src="@{/webjars/jquery/1.9.1/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>    
    </div>
</body>
</html>